{% extends "base.html" %}
{% block head %}
<title>IPtvDream 4X</title>
{% endblock %}

{% block content %}
<div class="h-100 row align-items-center">
  <div class="card align-self-center mx-auto mt-3" id="main">
    <div class="card-header">
      <h3 class="card-title">IPtvDream 4X web settings</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        <div id="inputForm">
          {% for item in config %}

          {% if item['type'] == 'string' %}
          <div class="form-group">
            <label for="{{item.name}}">{{item.title}}</label>
            <input type="text" value="{{item.value}}" class="form-control" name="{{item.name}}" id="{{item.name}}" maxlength="100"
              placeholder="">
          </div>
          {% endif %}

          {% if item.type == 'integer' %}
          <div class="form-group">
            <label for="{{item.name}}">{{item.title}}</label>
            <input type="number" value="{{item.value}}" name="{{item.name}}" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
              class="form-control" placeholder="">
          </div>
          {% endif %}

          {% if item.type == 'selection' %}
          <div class="form-group">
            <label for="{{item.name}}">{{item.title}}</label>
            <select class="form-control" name="{{item.name}}" id="{{item.name}}">
              {% for opt in item.options %}
              <option value="{{opt.value}}" {% if item.value == opt.value %} selected {% endif %} >{{opt.title}}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}

          {% if item.type == 'bool' %}
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" {% if item.value %} checked {% endif %} class="form-check-input" name="{{item.name}}" id="{{item.name}}">
              <label class="form-check-label" for="{{item.name}}">{{item.title}}</label>
            </div>
          </div>
          {% endif %}

          {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}