<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css"
    integrity="sha512-8jdwayz5n8F2cnW26l9vpV6+yGOcRAqz6HTu+DQ3FtVIAts2gTdlFZOGpYhvBMXkWEgxPN3Y22UWyZXuDowNLA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/solid.min.css"
    integrity="sha512-QN7X/bUbbeel9bbq6JVNJXk1Zowt+n+QPN+DjhEmTa4TdL1YPCsCey5JrvfRW8xp28LDYgGG/waNVdrhwMQmVQ=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css"
    integrity="sha512-AMDXrE+qaoUHsd0DXQJr5dL4m5xmpkGLxXZQik2TvR2VCVKT/XRPQ4e/LTnwl84mCv+eFm92UG6ErWDtGM/Q5Q=="
    crossorigin="anonymous" />
  <style>
    html {
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
      min-width: 250px;
    }

    .code-text {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: large;
    }

    .footer {
      color: #999c9f;
    }

    .footer a {
      color: #999c9f;
    }

    .footer a:hover {
      color: #eaebeb;
    }

    .cookie-banner {
      width: 100%;
      min-width: 250px;
      margin-top: 0px;
      position: fixed;
      display: none;
    }
  </style>
  {% block head %} {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
  <main class="d-flex flex-grow-1">
    {%- block content -%}{% endblock %}
  </main>
  <footer class="bg-dark pt-3 pb-2 footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 small">
          <h5>IPtvDream 4X</h5>
          <ul class="list-unstyled">
            <li>
              Web interface for enigma2 iptv plugin settings
            </li>
            <li>
              <a href="./policy">Privacy Policy</a>
            </li>
          </ul>
          
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-inline small">
            <li class="list-inline-item"><a href="https://t.me/iptvdream4x"><i class="fas fa-bullhorn"></i> News</a></li>
            <li class="list-inline-item"><a href="https://t.me/iptvdream4xchat"><i class="fab fa-telegram"></i> Telegram</a></li>
            <li class="list-inline-item"><a href="https://giclub.tv/index.php?topic=11928.0"><i class="fas fa-comments"></i> Forum</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Open Source</h5>
          <ul class="list-inline small">
            <li class="list-inline-item"><a href="https://github.com/technic/iptvdream4x">Plugin</a></li>
            <li class="list-inline-item"><a href="https://github.com/technic/web-settings">Web Settings</a></li>
            <li class="list-inline-item"><a href="https://github.com/technic/epg-server">EPG Server</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </div>
  <div class="cookie-banner bg-light shadow" id="cookieModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center py-2 px-3">
      <div>
        This website uses only necessary cookies required to keep user session.
        By continuing using this website you agree with our Privacy Policy.
      </div>
      <div class="d-flex mt-2 mt-md-0 text-nowrap">
        <a href="./policy" class="m-1 btn btn-sm btn-secondary">Privacy Policy</a>
        <a href="#" id="cookieButton" class="m-1 btn btn-success btn-sm">I accept</a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
      var expires = "expires=" + d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    if (getCookie('cookieNotification') != 'r0') {
      $(document).ready(function () {
        $('#cookieModal').fadeIn('fast')
      })
      $('#cookieButton').click(function () {
        setCookie('cookieNotification', 'r0', 365)
        $('#cookieModal').fadeOut('fast')
      })
    }
  </script>
  {%- block scripts -%}{% endblock %}
</body>

</html>